body , html {


	background-color: #232F3E;

}



#jake {
	margin-right: 50px;
	margin-top: 100px;
		width: 100px;
		height: 100px;
		color: yellow;
		border-radius: 10px;
		background-color: pink;
		border:1px;

}

#dave {

	margin-right: 50px;
	margin-top: 100px;
		width: 100px;
		height: 100px;
		color: limegreen;
		border-radius: 10px;
		background-color: tomato;
		border:1px;


}

#kate {

	margin-right: 50px;
	margin-top: 100px;
		width: 100px;
		height: 100px;
		color: orangered;
		border-radius: 10px;
		background-color: dodgerblue;
		border:1px;

}


input {

	margin-left: 260px
}


h5 {
	font-size:50px;
	color: limegreen;
    padding: 0px 10px 10px 1128px;
    margin-top: -119px;


}

 div {
	font-size:50px;
	color: yellow;
	margin:;
	padding: 45px 10px 10px 299px;
	
}

 p {
	
	color: orangered;
	font-size: 50px;
    padding: 1px 10px 10px 713px;
    margin-top: -65px;

	
}